files:
    /etc/sumo.conf:
      content:  |-
         name=ElasticBeanstalkLogs
         email=aws_training@cloudnexa.com
         password=CwSt89zgfZ5BwKN
         sources=/opt/elasticbeanstalk/sumologic/sources.json
         accessid=(insertaccess)
         accesskey=(insertkey)
         ephemeral=true
