files:
    /etc/sumo.conf:
      content:  |-
         name=ElasticBeanstalkLogs
         email=rgreisemer@cloudnexa.com
         password=tempPassw0rd!
         sources=/opt/elasticbeanstalk/sumologic/sources.json
         accessid=(insertaccess)
         accesskey=(insertkey)
         ephemeral=true
